In [2]:
import numpy as np
import pandas as pd

In [13]:
college_df = pd.read_csv('College.csv',index_col = 0 )
college_df = pd.get_dummies(college_df, drop_first = True )
college_df.head()

,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate,Private_Yes
Abilene Christian University,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60,1
Adelphi University,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56,1
Adrian College,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54,1
Agnes Scott College,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59,1
Alaska Pacific University,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15,1

In [12]:
college_df = college_df.rename(columns={'F.Undergrad': 'F_Undergrad', 'P.Undergrad': 'P_Undergrad', 'Room.Board':'Room_Board', 'S.F.Ratio':'S_F_Ratio', 'perc.alumni':'perc_alumni', 'Grad.Rate':'Grad_Rate' })

college_df = pd.get_dummies(college_df, drop_first = True )
college_df.head()

,Apps,Accept,Enroll,Top10perc,Top25perc,F_Undergrad,P_Undergrad,Outstate,Room_Board,Books,Personal,PhD,Terminal,S_F_Ratio,perc_alumni,Expend,Grad_Rate,Private_Yes
Abilene Christian University,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60,1
Adelphi University,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56,1
Adrian College,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54,1
Agnes Scott College,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59,1
Alaska Pacific University,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15,1

In [5]:
# Renaming columns
college_df = college_df.rename(columns={'F.Undergrad': 'F_Undergrad', 'P.Undergrad': 'P_Undergrad', 'Room.Board':'Room_Board', 'S.F.Ratio':'S_F_Ratio', 'perc.alumni':'perc_alumni', 'Grad.Rate':'Grad_Rate' })

# Need to create dummy variable for Private
dummies = pd.get_dummies(college_df[['Private']])

    # Drop the independent variable column and the dummy one, also drop the names column
X_drop = college_df.drop(['Apps', 'Private', 'Unnamed: 0'], axis = 1).astype('float64')
    # Add in dummy column 
X_data = pd.concat([X_drop, dummies[['Private_Yes']]], axis = 1)

# Set the y data
y_data = college_df.Apps

In [6]:
college_df.head()

,Unnamed: 0,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F_Undergrad,P_Undergrad,Outstate,Room_Board,Books,Personal,PhD,Terminal,S_F_Ratio,perc_alumni,Expend,Grad_Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15